@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Josefin Sans, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
  -webkit-appearance: none !important;
  width: 0px !important;
  background: transparent !important;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


@media screen and (max-width: 768px){
  ::-webkit-scrollbar {
      -webkit-appearance: none;
  }
}